{% extends 'base.html.twig' %}

{% block body %}
    <h1>origens list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for origen in origens %}
            <tr>
                <td><a href="{{ path('origen_show', { 'id': origen.id }) }}">{{ origen.id }}</a></td>
                <td>{{ origen.descripcion }}</td>
                <td><a href="{{ path('origen_edit', { 'id': origen.id }) }}"class="btn btn-default btn-sm"><i class="fa fa-edit"></i>edit</a>
                <a href="{{ path('origen_delete', { 'id': origen.id }) }}"class="btn btn-default btn-sm"><i class="fa fa-del"></i>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('origen_new') }}" class="btn btn-primary">Crear</a>
{% endblock %}
