{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cerveza edit</h1>
    <div class="panel panel-default">
		<div class="panel-body">

    {{ form_start(edit_form, {"attr":{"novalidate":"novalidate"}}) }}
    <div class="form-group col-xs-6">
      <label>{{ form_label(edit_form.descripcion) }}</label>
      {{ form_errors(edit_form.descripcion)}}
      {{ form_widget(edit_form.descripcion, {'attr' : {'class' : 'form-control'} }) }}
  </div>
</div>
  <div class="panel-footer">

    <button type="submit" class="btn  btn-success">Guardar</button>
    <a class="btn " href="{{ path('cerveza_index') }}">Cancelar</a>

  {{ form_end(edit_form) }}
  </div>
</div>

{% endblock %}
