{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cerveza edit</h1>
    <div class="panel panel-default">
		<div class="panel-body">

    {{ form_start(edit_form, {"attr":{"novalidate":"novalidate"}}) }}
    <div class="form-group col-xs-6">
      <label>{{ form_label(edit_form.descripcion) }}</label>
      {{ form_errors(edit_form.descripcion)}}
      {{ form_widget(edit_form.descripcion, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.nombre) }}</label>
      {{ form_errors(edit_form.nombre)}}
      {{ form_widget(edit_form.nombre, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.precio) }}</label>
      {{ form_errors(edit_form.precio)}}
      {{ form_widget(edit_form.precio, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.destacada) }}</label>
      {{ form_errors(edit_form.destacada)}}
      {{ form_widget(edit_form.destacada, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.alcohol) }}</label>
      {{ form_errors(edit_form.alcohol)}}
      {{ form_widget(edit_form.alcohol, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.foto) }}</label>
      {{ form_errors(edit_form.foto)}}
      {{ form_widget(edit_form.foto, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.presentacion) }}</label>
      {{ form_errors(edit_form.presentacion)}}
      {{ form_widget(edit_form.presentacion, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.promo) }}</label>
      {{ form_errors(edit_form.promo)}}
      {{ form_widget(edit_form.promo, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.estilo) }}</label>
      {{ form_errors(edit_form.estilo)}}
      {{ form_widget(edit_form.estilo, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.color) }}</label>
      {{ form_errors(edit_form.color)}}
      {{ form_widget(edit_form.color, {'attr' : {'class' : 'form-control'} }) }}

      <label>{{ form_label(edit_form.origen) }}</label>
      {{ form_errors(edit_form.origen)}}
      {{ form_widget(edit_form.origen, {'attr' : {'class' : 'form-control'} }) }}



  </div>
</div>
  <div class="panel-footer">

    <button type="submit" class="btn  btn-success">Guardar</button>
    <a class="btn " href="{{ path('cerveza_index') }}">Cancelar</a>

  {{ form_end(edit_form) }}
  </div>
</div>

{% endblock %}
