{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cervezas list</h1>
    <div class="panel panel-default">
		<div class="panel-body">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cerveza in cervezas %}
            <tr>
                <td><a href="{{ path('cerveza_show', { 'id': cerveza.id }) }}">{{ cerveza.id }}</a></td>
                <td>{{ cerveza.nombre }}</td>
                <td>{{ cerveza.descripcion }}</td>
                <td>{{ cerveza.precio }}</td>
                <td>{{ cerveza.foto }}</td>
                <td><a href="{{ path('cerveza_show', { 'id': cerveza.id }) }}" class="btn btn-default btn-sm">show</a>
                    <a href="{{ path('cerveza_edit', { 'id': cerveza.id }) }}" class="btn btn-default btn-sm">edit</a>
                    <a href="{{ path('cerveza_delete', { 'id': cerveza.id }) }}" class="btn btn-default btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
      <div class="panel-footer">
        <a href="{{ path('cerveza_new') }}" class="btn btn-primary">Crear</a>
      </div>
{% endblock %}
