{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cervezas</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre <a href="{{ path('cerveza_index_order', { 'campo': 'nombre', 'ord' : 'DESC' }) }}"><i class="fa fa-caret-down" style="font-size:24px"></i></a>
                           <a href="{{ path('cerveza_index_order', { 'campo': 'nombre', 'ord' : 'ASC' }) }}"><i class="fa fa-caret-up" style="font-size:24px"></i></a>
                </th>
                <th>Descripción</th>
                <th>Alcohol <a href="{{ path('cerveza_index_order', { 'campo': 'alcohol', 'ord' : 'DESC' }) }}"><i class="fa fa-caret-down" style="font-size:24px"></i></a>
                           <a href="{{ path('cerveza_index_order', { 'campo': 'alcohol', 'ord' : 'ASC' }) }}"><i class="fa fa-caret-up" style="font-size:24px"></i></a>
                </th>
                <th>Precio <a href="{{ path('cerveza_index_order', { 'campo': 'precio', 'ord' : 'DESC' }) }}"><i class="fa fa-caret-down" style="font-size:24px"></i></a>
                           <a href="{{ path('cerveza_index_order', { 'campo': 'precio', 'ord' : 'ASC' }) }}"><i class="fa fa-caret-up" style="font-size:24px"></i></a>
                </th>
                <th>Destacada</th>
                <th>Origen</th>
                <th>Foto</th>
                <th>Presentacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cerveza in cervezas %}
            <tr>
                <td><a href="{{ path('cerveza_show', { 'id': cerveza.id }) }}">{{ cerveza.id }}</a></td>
                <td>{{ cerveza.nombre }}</td>
                <td>{{ cerveza.descripcion }}</td>
                <td>{{ cerveza.alcohol }}</td>
                <td>{{ cerveza.precio }}</td>
                <td>{% if cerveza.destacada %}Yes{% else %}No{% endif %}</td>
                <td>{{ cerveza.origen }}</td>
                <td><img src="{{asset('assets/img/uploads/' ~ cerveza.foto) }}" class="foto-mini"></td>
                <td>{{ cerveza.presentacion }}</td>
                <td>
                    <a href="{{ path('cerveza_show', { 'id': cerveza.id }) }}" class="btn btn-default">Ver</a>
                    <a href="{{ path('cerveza_edit', { 'id': cerveza.id }) }}" class="btn btn-default">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('cerveza_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
{% endblock %}
