{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Cerveza</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form) }}
                    {# {{ form_start(form, {"attr":{"novalidate":"novalidate"}}) }} #}
                    <div class="form-group col-xs-6">
                            <label>{{ form_label(form.nombre) }}</label>
                            {{ form_errors(form.nombre) }}
                            {{ form_widget(form.nombre, {'attr' : {'class' : 'form-control'} }) }}
                        </div>

                        <div class="form-group col-xs-3">
                            <label>{{ form_label(form.alcohol) }}</label>
                            {{ form_widget(form.alcohol, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-3">
                            <label>{{ form_label(form.precio) }}</label>
                            {{ form_widget(form.precio, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-6">
                            <label>{{ form_label(form.origen) }}</label>
                            {{ form_widget(form.origen, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-6">
                            <label>{{ form_label(form.estilo) }}</label>
                            {{ form_widget(form.estilo, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-6">
                            <label>{{ form_label(form.color) }}</label>
                            {{ form_widget(form.color, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-6">
                            <label>{{ form_label(form.foto) }}</label>
                            {{ form_widget(form.foto, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-3">
                            <label>{{ form_label(form.presentacion) }}</label>
                            {{ form_widget(form.presentacion, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="form-group col-xs-3">
                            <label>{{ form_label(form.destacada) }}</label>
                            {{ form_widget(form.destacada, {'attr' : {'class' : 'form-control'} }) }}
                        </div>

                        <div class="form-group col-xs-6">
                            <label>{{ form_label(form.descripcion) }}</label>
                            {{ form_widget(form.descripcion, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    {{ form_end(form) }}
                    <a href="{{ path('cerveza_index') }}" class="btn btn-default">Volver</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
