{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cerveza</h1>

    <table  class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Destacada</th>
            <th>Alcohol</th>
            <th>Foto</th>
            <th>Presentacion</th>
            <th>Promo</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cerveza.id }}</td>
                <td>{{ cerveza.nombre }}</td>
                <td>{{ cerveza.descripcion }}</td>
                <td>{{ cerveza.precio }}</td>
                <td>{% if cerveza.destacada %}Yes{% else %}No{% endif %}</td>
                <td>{{ cerveza.alcohol }}</td>
                <td>{{ cerveza.foto }}</td>
              <td>{{ cerveza.presentacion }}</td>
              <td>{% if cerveza.promo %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
            <a class="btn " href="{{ path('cerveza_index') }}">Volver</a>
            {{ form_start(delete_form) }}
            <button type="submit" value="Delete" class="btn  btn-success">Borrar</button>
            {{ form_end(delete_form) }}
{% endblock %}
