{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente</h1>
    <div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-xs-6">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ cliente.apellido }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ cliente.dni }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  </div>
    <div class="panel-footer">
            {{ form_start(delete_form) }}
            <button type="submit" value="Delete" class="btn  btn-success">Borrar</button>
              <a class="btn " href="{{ path('cliente_index') }}">Volver</a>
            {{ form_end(delete_form) }}
    </div>
    </div>
{% endblock %}
