{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Estilos</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estilo in estilos %}
            <tr>
                <td><a href="{{ path('estilo_show', { 'id': estilo.id }) }}">{{ estilo.id }}</a></td>
                <td>{{ estilo.descripcion }}</td>
                <td><a href="{{ path('estilo_edit', { 'id': estilo.id }) }}"class="btn btn-default btn-sm"><i class="fa fa-edit"></i>edit</a>
                <a href="{{ path('estilo_del', { 'id': estilo.id }) }}"class="btn btn-default btn-sm"><i class="fa fa-del"></i>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('estilo_new') }}" class="btn btn-primary">Crear</a>
{% endblock %}
