{% extends 'base.html.twig' %}

{% block body %}
    <h1>Colors list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td><a href="{{ path('color_show', { 'id': color.id }) }}">{{ color.id }}</a></td>
                <td>{{ color.descripcion }}</td>
                <td><a href="{{ path('color_edit', { 'id': color.id }) }}"class="btn btn-default btn-sm"><i class="fa fa-edit"></i>edit</a>
                <a href="{{ path('color_delete', { 'id': color.id }) }}"class="btn btn-default btn-sm"><i class="fa fa-del"></i>Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('color_new') }}" class="btn btn-primary">Crear</a>
{% endblock %}
