{% extends 'base.html.twig' %}

{% block body %}
    <h1>Color</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td> {{ color.id }} </td>
              <td> {{ color.descripcion }} </td>
            </tr>
          </tbody>
      </table>

            {{ form_start(delete_form) }}
                <button type="submit" value="Delete" class="btn  btn-success">Borrar</button>
                <a class="btn " href="{{ path('color_index') }}">Volver</a>
            {{ form_end(delete_form) }}

    </ul>
{% endblock %}
